# ----------------------
# Node.js
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Build output
dist/
build/
.next/
out/

# Environment files
.env
.env.*      # e.g., .env.dev, .env.local

# ----------------------
# Go
# ----------------------
# Build artifacts
bin/
*.exe
*.out
*.test

# Go modules cache (if ever inside repo folder)
vendor/

# ----------------------
# Nginx
# ----------------------
logs/
*.log
temp/

# ----------------------
# OS-specific
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Editor-specific
# ----------------------
.vscode/
.idea/
